.add-employee-container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .backArrow:hover {
        transform: scale(1.2);
        color: rgba(30, 30, 30, 0.745);
    }

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .add-employee-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,
        select {
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
        }

        select {
            appearance: none;
            background: #f8f8f8;
        }

        .file-label {
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            input[type="file"] {
                margin-top: 0.2rem;
            }
        }

        .submit-btn {
            background-color: #0057d9;
            color: white;
            border: none;
            padding: 0.75rem;
            font-size: 1rem;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}